<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone.js TodoMVC</title>
    <link rel="stylesheet" href="assets/base.css"/>
    <link rel="stylesheet" href="assets/index.css"/>
</head>
<body>
<section id="todoapp" class="todoapp">
    <header id="header" class="header">
        <h1>todos</h1>
        <input type="text" id="new-todo" class="new-todo" placeholder="what needs to be done?" autofocus/>
    </header>
    <section id="main" class="main">
        <input type="checkbox" id="toggle-all" class="toggle-all"/>
        <label for="toggle-all">mark all as complete</label>
        <ul id="todo-list" class="todo-list"></ul>
    </section>
    <footer id="footer" class="footer"></footer>
</section>
<div id="info" class="info">
    <p>double-click to edit a todo</p>
    <p>written by <a target="_blank" href="https://github.com/addyosmani">addy osmani</a></p>
    <p>part of <a target="_blank" href="http://todomvc.com">todo mvc</a></p>
</div>
<script type="text/template" id="item-template">
    <div class="view">
        <input type="checkbox" class="toggle" <%=completed ? 'checked' : ''%>/>
        <label><%- title %></label>
        <button class="destroy"></button>
    </div>
    <input type="text" class="edit" value="<%- title %>"/>
</script>
<script type="text/template" id="stats-template">
    <span id="todo-count" class="todo-count">
        <strong><%= remaining %></strong>
        <%= remaining === 1 ? 'item' : 'items' %> left
    </span>
    <ul id="filters" class="filters">
        <li><a href="#/" class="selected">All</a></li>
        <li><a href="#/active">Active</a></li>
        <li><a href="#/completed">Completed</a></li>
    </ul>
    <% if(completed){ %>
        <button id="clear-completed" class="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
</script>
<script src="js/lib/jquery.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lib/backbone.localStorage.js"></script>
<script src="js/models/todo.js"></script>
<script src="js/collections/todos.js"></script>
<script src="js/views/todos.js"></script>
<script src="js/views/app.js"></script>
<script src="js/routers/router.js"></script>
<script src="js/app.js"></script>
</body>
</html>